body {
    display: flex;
    justify-content: flex-start; /* Garde la sidebar à gauche */
    margin-left: 200px; /* Espace pour la sidebar */
    padding: 20px;
    flex-direction: column;
    align-items: center; /* Centre tout le contenu */
    overflow-x: hidden;
}

.articles-wrapper {
    width: 100%; /* Prend toute la largeur */
    max-width: 900px; /* Limite la largeur maximale des articles */
    display: block; /* Pas de flex pour empiler les articles en colonne */
    margin: 0 auto; /* Centrer la wrapper des articles */
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Centrer le contenu du container */
}

.article h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.article p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

.article img {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 300px; /* Fixe la hauteur à 300px */
    object-fit: cover; /* Redimensionne l'image pour couvrir le conteneur sans déformation */
    display: block;
    margin: 10px auto; /* Centrer l'image dans son conteneur */
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.supprimer-btn {
    background-color: red;
    color: white;
}

.modifier-btn {
    background-color: blue;
    color: white;
}